html{
    background-image: url('../img/background.png');

}
body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #482c0e;
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1;
}
label.title{
    color: #ffffff;
    line-height: 80px;
    font-weight: bold;
}
img.logo{
    height: 50px;
    width: 50px;
    position: relative;
margin-left: 1%;

}
nav ul{
    float: right;
line-height: 63px;

}

nav ul li{
    display: inline-block;
    margin-right: 40px;
}

nav ul li:hover{
    background: rgba(189, 164, 20);
    border-top-left-radius:18px;
    border-top-right-radius: 18px;
}





nav ul li a{
    color: #ffffff;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
}

a{
    text-decoration:none;
    color: white;
}
.active{
 background: rgba(189, 164, 20);
    border-top-left-radius:18px;
    border-top-right-radius: 18px;

}

.active>a{
    color: black;
    padding: 5px;

}



.contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.contain > div{

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    background: #5e370e;
    margin-top: 10%;
    margin-right: 5%;
}

.card:hover {
    box-shadow: 0 8px 20px 0 rgba(61, 60, 60, 0.52);
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
input[type=reset]:hover {
    background-color: #45a049;
}
.logininput {
    padding: 10px;
    display: flex;
    color: black;
    background-color: white;
    width: 100%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    display:block;
    margin:auto;
    margin-top: 3%;
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    background: #5e370e;
    margin: 0 auto;
}
.middle{
    display: flex;
    justify-content: center;
}
.elsobetu::first-letter{
    font-size: 200%;
    color: #dc0319;
}
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    background: #5e370e;
    margin-top: 13%;
    margin-right: 5%;
    padding: 10%;
}
.content {
    color: white;
}
.profilimg {
    height: 20%;
    width: 20%;
    border: 2px solid black ;
    margin: auto;
}
